

$dark-primary:#b0044e;
$dark-secondary:#bb134d;
$red-primary:#c61516;
$red-secondary:#a60101;
$border-primary:#ff8046;
$gray-primary:#565656;
$gray-secondary:#bababa;
$gray-tertiary:#dcdcdc;
$green-primary:#a1c900;
$yellow-primary:#ffc905;

$white:#ffffff;
$white-banner:#f7e6ed;
$black:#000000;
$divider:#dcdcdc;
$white_border:#dcdcdc;
$shadow:rgba(0, 0, 0, 0.2)